<style>
  body {
        background-image: url("/img/test.jpg");
        background-repeat: no-repeat;
        width: 1513px;
        height: 2016px;
        background-size: cover;
        text-align: center;
        margin: auto;
        padding: 0;
    }  


</style>
@* <link rel="stylesheet" href="~/css/Background.css" asp-append-version="true" />
 *@
    <!-- Page Content-->
    <div class="container px-4 px-lg-5" id="animate-area">
        <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <h1 class="font-weight-light text-white m-0">Hi, join me on my adventures!</h1>
            <p class="text-white m-0">Whether you need guidance for your first trip or you’re a seasoned traveler looking for destination inspiration, you’ve come to the right place!</p>
        </div>
    <a class="btn btn-success" asp-area="" asp-controller="Posts" asp-action="Index">Start Exploring</a>

        <!-- Call to Action-->
    <div class="card text-black bg-transparent my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">If you’re interested in taking that dream trip, but need a little inspiration to pick which destination is right for you, check out some of my bucket list experiences!</p></div>
        </div>
        <!-- Content Row-->

    </div>


